* {
    box-sizing: border-box;
}

.gallery-img {
    display: none;
    max-height: 500px;
}

.active {
    display: block;
} 
.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7.8px;
    margin-bottom: 2px;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #0084ff;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    margin-right: 15px;
}
.btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}